.arrowIcon {
  animation: fadeIn 4s infinite;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-20px);
  }
  50% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(-20px);
  }
}

.aboutCirlceMove {
  animation: fadeIn 10s infinite;
}
@keyframes fadeIn {
  0%{
    opacity: 1;
    transform: translate(740px, 550px);
  }
  20%{
    opacity: 1;
    transform: translate(0px, 0px);
  }
  30%, 90% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translate(-780px, 570px);
  }
}
